
.double-border{
	border-top: 4px double black;
	border-bottom: 4px double black;
	padding: 10px 0;
	text-align: center;

}

.margin {
	margin: 0;
	border-bottom: 1px solid black;
	padding: 10px;
	text-align: center;
}

.border{
	display: inline-block;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 10px;
	text-align: center;
}

.info {
	display: inline-block;
	border: 4px double black;
        padding: 10px 0;
        text-align: center;
}

.img {
	height: 700px;
	width: auto;
}

.horizontal {
	height: 400px;
       	width: auto;
       	padding: 10px;

}

.rex {
	height: 440px;
       	width: auto; 
	padding: 10px;
}

.footer {
    background-color: #000; /* Fully black background */
    color: #fff; /* White text color */
    text-align: center; /* Center the text */
    padding: 20px 0; /* Add some padding for spacing */
    margin-top: auto; /* Push the footer to the bottom of the page */
    width: 100%; /* Full width */
    font-family: Arial, sans-serif; /* Clean font */
}

@media only screen and (max-width: 768px) {
	.img {
		height: 250px;
		width: auto;
	}

	.horizontal {
		height: 170px;
		width: auto;
		padding: 10px;
	}
	.rex {
		height: 210px;
		width: auto;
		padding: 10px;
	}
} 


